<div class="filter-container">
    <span>Filter: </span>
    
    <input (change)="onRadioButtonSelectionChanged()" type="radio" name="filter" value="All" [(ngModel)]="selectedRadioButtonValue" />
    <span>{{"All Courses ("+ all+")"}}</span>
    
    <input (change)="onRadioButtonSelectionChanged()" type="radio" name="filter" value="Free" [(ngModel)]="selectedRadioButtonValue" />
    <span>{{"Free Courses ("+ free+")"}}</span>
    
    <input (change)="onRadioButtonSelectionChanged()" type="radio" name="filter" value="Premium" [(ngModel)]="selectedRadioButtonValue" />
    <span>{{"Premium Courses ("+ premium+")"}}</span>
    
</div>
